<pep-layout-builder 
    [availableBlocksForDrag]="availableBlocksForDrag" [layoutEditorTitle]="layoutEditorTitle" 
    [blocksLayoutConfig]="blocksLayoutConfig"
    (backClick)="onBackClick()" (editorChange)="onEditorChanged($event)" 
    (blockAdded)="onBlockAdded($event)" (blocksRemoved)="onBlocksRemoved($event)">

    <ng-container layout-editor-top-content>
        <page-builder-editor class="layout-builder-editor-group" (pageNameChange)="onPageNameChange($event)"></page-builder-editor>
    </ng-container>

    <ng-container block-editor-content>
        <pep-remote-loader-element *ngIf="layoutBuilderService.editableState && currentBlockEditor?.remoteModuleOptions"
            [options]="currentBlockEditor?.remoteModuleOptions" 
            [props]="{ hostObject: currentBlockEditor?.hostObject }"
            [events]="{ hostEvents: onBlockEditorHostEventsCallback }">
        </pep-remote-loader-element>
    </ng-container>
    
    <ng-container header-end-content>
        <div *ngIf="pageSizeLimitInPercentage > MIN_PERCENTAGE_TO_SHOW_LIMIT" class="size-limit-container pep-button sm disable">
            <span class="title-xs">{{ 'MESSAGES.PAGE_SIZE_LIMIT_TITLE' | translate }}&nbsp;</span>
            <span class="title-sm color-caution bold">{{ pageSizeString }}</span>
        </div>
        <pep-button key='Save' [value]="'ACTIONS.SAVE' | translate" sizeType="sm" (buttonClick)="onSaveClick()" [disabled]="isOverPageSizeLimit"></pep-button>
        <pep-button key='Publish' [value]="'ACTIONS.PUBLISH' | translate" sizeType="sm" styleType="strong" (buttonClick)="onPublishClick();" [disabled]="isOverPageSizeLimit">
        </pep-button>
    </ng-container>

    <ng-container layout-content>
        <page-builder-internal (screenTypeChange)="onScreenTypeChange($event)"></page-builder-internal>
    </ng-container>
</pep-layout-builder>
