
<pep-textbox [value]="pageName" [label]="'PAGE_MANAGER.PAGE_NAME_TITLE' | translate" (valueChange)="onPageNameChange($event)"></pep-textbox>
<pep-textarea [value]="pageDescription" [label]="'PAGE_MANAGER.PAGE_DESCRIPTION_TITLE' | translate" rowSpan="2" (valueChange)="onPageDescriptionChange($event)"></pep-textarea>

<div>
    <label class="body-xs mat-form-title ellipsis">{{'PAGE_MANAGER.PARAMETERS_TITLE' | translate}}</label>
    <pep-button class="script-button" [value]="('PAGE_MANAGER.MANAGE_PARAMETERS' | translate)" styleType="regular"
        (buttonClick)="openParametersPickerDialog();">
    </pep-button>
</div>
<div>
    <label class="body-xs mat-form-title ellipsis">{{'PAGE_MANAGER.ON_LOAD_FLOW_TITLE' | translate}}</label>
    <pep-flow-picker-button [flowHostObject]="onLoadFlowHostObject" styleType="regular" (flowChange)="onLoadFlowChange($event)"></pep-flow-picker-button>
</div>
<div>
    <label class="body-xs mat-form-title ellipsis">{{'PAGE_MANAGER.ON_PARAMETER_CHANGE_FLOW_TITLE' | translate}}</label>
    <pep-flow-picker-button [flowHostObject]="onParameterChangeFlowHostObject" styleType="regular" (flowChange)="onParameterChangeFlowChange($event)"></pep-flow-picker-button>
</div>
<div>
    <label class="body-xs mat-form-title ellipsis">{{'PAGE_MANAGER.ON_CHANGE_FLOW_TITLE' | translate}}</label>
    <pep-flow-picker-button [flowHostObject]="onChangeFlowHostObject" styleType="regular" (flowChange)="onChangeFlowChange($event)"></pep-flow-picker-button>
</div>

<ng-template #parametersDialogTemplate let-data>
    <pep-dialog [showClose]="true" [title]="'PAGE_MANAGER.MANAGE_PARAMETERS' | translate" [showFooter]="false" (close)="closeParametersDialog($event)">
        <ng-container pep-dialog-content>
            <pep-manage-parameters [parameters]="data.parameters" (parametersChange)="onParametersChange($event)"></pep-manage-parameters>
        </ng-container>
    </pep-dialog>
</ng-template>



