
<pep-layout [editorMode]="editorMode" [showSkeleton]="showSkeleton" [layoutView]="layoutView" [blockTemplate]="blockTemplate" 
    (layoutViewChange)="onLayoutViewChanged($event)" (screenTypeChange)="onScreenTypeChange($event)">
</pep-layout>

<ng-template #blockTemplate let-blockKey="blockKey" let-draggableItemKey="draggableItemKey">
    <page-block *ngIf="pageBlockViewsMap.has(blockKey)" 
        [screenType]="screenType" [pageBlockView]="pageBlockViewsMap.get(blockKey)">
    </page-block>
</ng-template>
